
.rating-wrapper {
    align-self: center;
    display: inline-flex;
    direction: rtl !important;


    label {
        color: #E1E6F6;
        cursor: pointer;
        display: inline-flex;
        font-size: 2rem;
        padding: 1rem .2rem;
        transition: color 0.5s;
    }

    svg {
        -webkit-text-fill-color: transparent;
        -webkit-filter: drop-shadow (4px 1px 6px rgba(198, 206, 237, 1));
        filter: drop-shadow(5px 1px 3px rgba(198, 206, 237, 1));
    }

    input {
        height: 100%;
        width: 100%;
    }

    input {
        display: none;
    }

    label:hover,
    label:hover~label,
    input:checked~label {
        color: #34AC9E;
    }

    label:hover,
    label:hover~label,
    input:checked~label {
        color: #34AC9E;
    }
}